@import "./helper/index";
@import "table";
@import "nav";
@import "panels";
@import "list-group";
@import "nav-tabs";

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: "Microsoft Yahei",sans-serif;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:focus {
    outline: none;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 0;
  height: 0;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

html,body,#app{
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.footer{
  padding: 40px;
}

//title
.alert-green{
  color: #33899a;
  background-color: #d4eee5;
  border-color: #d4eee5;
  font-size: 16px;

  .btn{
    line-height: 15px;
    background-color: #35889a;
    border:none;
    margin-left: 10px;
    float: right;
    outline: none;
    &:hover,
    &:active,
    &:focus{
      background-color: #35889a;
    }
  }
}

//列表
.list{
  border:1px solid #b8cbc5;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 25px;
}

//大标题提示
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 5px;
  }

}

.bs-callout-info {
  $cl : #1b809e;
  border-left-color: #1b809e;

  h1,h2,h3,h4,h5,h6 {
    color: $cl;
  }
}

.bs-callout-danger {
  $cl : #ce4844;

  border-left-color: $cl;

  h1,h2,h3,h4,h5,h6 {
    color: $cl;
  }
}
