@import "common";

$color-login-glob-bg: #269972;
$color-login-glob-text: #fff;

$size-login-form-width: 900px;
$size-login-form-height: $size-login-form-width/2;

//change placeholder color
::-webkit-input-placeholder, /* WebKit browsers */
::-moz-placeholder, /* Mozilla Firefox 19+ */
:-ms-input-placeholder, /* Internet Explorer 10+ */
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $color-login-glob-text;
}

.login-container {
  height: 100%;
  width: 100%;
  background: #323b42;

  .row {
    @include layout-center($size-login-form-width, $size-login-form-height);
    //background: ;
    @include linear-gradient(left, #70d0af, $color-login-glob-bg);
    border-radius: 10px;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.62);
    overflow: hidden;

    .col-lg-6 {
      padding: 0;
    }

    .login-left-img {
      width: 100%;
      height: 100%;
    }
    .login-right-form {
      height: 100%;

      form {
        @include layout-center();

        .form-group {
          margin-bottom: 10px;

          &:first-child {
            margin-bottom: 25px;
            border-radius: 0;
          }

          &:last-child {
            margin-top: 20px;
            margin-bottom: 0;
          }

          img.logo {
            vertical-align: bottom;
            @include size(60px, 50px);
          }
          span.system-name {
            color: $color-login-glob-text;
            font-size: 16px;
            font-weight: bold;
          }

          //重置颜色，设置圆角
          button:not([type="submit"]),
          input {
            background: transparent;
            color: $color-login-glob-text;
            border-radius: 14px;
            //第一组表单元素
            &[name="username"] {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
          //提交按钮
          button[type="submit"] {
            border-radius: 14px;
            border: none;
            outline: none;
          }

          .btn .caret {
            color: $color-login-glob-text;
          }
          button[type="submit"] {
            background: $color-login-glob-text;
            color: $color-login-glob-bg;
            font-size: 13px;
            //height: 28px;
            //padding: 0;
            //margin: 0;
            //border: none;
          }

          //重置输入框颜色
          .form-control, .input-group-btn .btn {
            border: 2px solid $color-login-glob-text;
          }
          .input-group-btn .btn {
            padding-top: 5px;
            padding-bottom: 5px;
            margin-right: 1px;
            border-radius: 14px 0 0 14px;
          }
        }
      }
    }
  }
}
