.navbar-parking {
  background: $nav-bg-color;
  color: $color-glob-text;

  a {
    color: $color-glob-text;
  }

  //重新计算 nva height
  .navbar-brand,
  .navbar-nav > li > a {
    height: $nav-height;
    padding-top: ($nav-height - $nav-line-height)/2;
    padding-bottom: ($nav-height - $nav-line-height)/2;
    line-height: $nav-line-height;
    font-size: 15px;
    font-weight: bold;

    //overwrite hover style
    &:hover,
    &:focus {
      background: $nav-active-bg;
      color: $color-glob-text;
    }
  }

  //active router style
  .router-link-active {
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background: #29a67c;
      bottom: -1px;
    }
  }

  //tip count
  .navbar-right {
    code {
      background: #E55F67;
      border-radius: 30px;
      color: $color-glob-text;
    }
  }
}
